#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  gap: 10px;
} 
.inputs{
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 300px;
  height: 20px;
  margin-bottom: 10px;
}
.add{
  padding: 5px;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
.list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 5px;
  width: 365px;
  height: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}
.list:hover{
  background-color: purple;
  cursor: pointer;
}
.delete{
}












@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

